[features]
    # Feature flags are various boolean properties as defined in go/lib/env/features.go

[log]
    [log.file]
        # Location of the logging file. If not specified, logging to file is disabled.
        path = "${LOG}/sig${IA}-1.log"

        # File logging level. (trace|debug|info|warn|error|crit) (default debug)
        level = "debug"

        # Max size of log file in MiB. (default 50)
        size = 50

        # Max age of log file in days. (default 7)
        max_age = 7

        # Maximum number of log files to retain. (default 10)
        max_backups = 10

        # How frequently to flush to the log file, in seconds. If 0, all messages
        # are immediately flushed. If negative, messages are never flushed
        # automatically. (default 5)
        flush_interval = 5

    [log.console]
        # Console logging level (trace|debug|info|warn|error|crit) (default crit)
        level = "crit"

[metrics]
    # The address to export prometheus metrics on (host:port or ip:port or :port).
    # The prometheus metrics can be found under /metrics, furthermore pprof
    # endpoints are exposed see (https://golang.org/pkg/net/http/pprof/).
    # If not set, metrics are not exported. (default "")
    prometheus = ""

[sciond_connection]
    # Address of the SCIOND server the client should connect to.
    address = "127.0.0.1:30255"

    # Maximum time spent attempting to connect to sciond on start. (default 20s)
    initial_connect_period = "20s"

    # Maximum numer of paths provided by SCIOND.
    # Zero means that all the paths should be provided. (default 0)
    path_count = 0

[sig]
    # ID of the SIG. (required)
    id = "sigB"

    # The SIG config json file. (required)
    sig_config = "/etc/scion/gen/ISD${ISD}/AS${AS}/sig${IA}-1/sigA.json"

    # The local ISD-AS. (required)
    isd_as = "${ISD}-${IAd}"

    # The bind IP address. (required)
    ip = "172.16.0.12"

    # Control data port, e.g. keepalives. (default 30256)
    ctrl_port = 10084

    # Encapsulation data port. (default 30056)
    encap_port = 10083

    # Name of TUN device to create. (default DefaultTunName)
    tun = "sigB"

    # Id of the routing table. (default 11)
    tun_routing_table_id = 12